* {
    margin: 0;
    padding: 0;
    appearance: none;
    text-rendering: optimizelegibility;
}

html {
    font-size: 100%;
    height: 100%;
    margin-top: 0 !important;
}

body {
    background: rgb(255,255,255);
    color: #333333;
    font-family: "Zilla Slab", Times New Roman, serif;
    font-style: normal;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    height: 100%;
    margin: 0;
    max-width: 100%;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .02rem;
    margin: 0 auto 30px;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: .02rem;
    margin: 30px auto 15px;
}

h3 {
    font-size: 1.5rem;
    margin: 30px auto 15px;
}

h4 {
    font-size: 1rem;
    margin: 15px auto 15px;
}

ul, ol{
	margin:10px 0 15px;
	padding:0 0 0 30px;
}
p{
	margin:0 0 1rem;
}
a{
	color:#1D70A2;
	text-decoration: underline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}


/* HEADER */
header{
	background-color: #1D70A2;
	clear: both;
	height: 54px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 4;
}
header .header-inner {
	margin: 0 auto;
	max-width: 860px;
	padding: 0 30px;
	position: relative;
}
header .brand{
	color: #fff;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 800;
	letter-spacing: .03rem;
	padding: 13px 0 0 0;
	text-decoration: none;
	text-transform: uppercase;
}
header .navbar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
header .navbar ul li{
	display: inline-block;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 600;
}
header .navbar ul li a {
	background-color: rgba(255,255,255,0);
	display: block;
	color: #fff;
	font-size: 1rem;
	padding: 15px 20px;
	text-decoration: none;
	text-align: center;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}

header .navbar ul li a:hover {
  	background-color: rgba(255,255,255,.6);
  	color: #1D70A2;
  	transition: all 0.3s ease-in;
  	-webkit-transition: all 0.3s ease-in;
}
a.burger-menu{
  	background: transparent;
	box-sizing: border-box;
	border: 0 none;
	color: @color;
	cursor: pointer;
	display: none;
	height: 20px;
	opacity: 1;
	outline-color: rgba(255,255,255,0);
	padding: 0;
	position: absolute;
	top: 18px;right: 15px;
	transition: all 800ms cubic-bezier(.215,.61,.355,1);
	-webkit-transition: all 800ms cubic-bezier(.215,.61,.355,1);
	width: 26px;
	z-index: 9;
}
a.burger-menu::before{
	content: '';
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
}
a.burger-menu span{
	background: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	display: block;
	height: 3px;
	margin: 0;
	position: relative;
	transform: rotate(0) translate3d(0, 8px, 0);
	-webkit-transform: rotate(0) translate3d(0, 8px, 0);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	width: 100%;
}
a.burger-menu span::before,
a.burger-menu span::after{
	background: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	content: '';
	height: 3px;
	position: absolute;
	left: 0;
	transform: rotate(0) translate3d(0, 0, 0);
	-webkit-transform: rotate(0) translate3d(0, 0, 0);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	width: 100%;
}
a.burger-menu span::before{
	top: -9px;
}
a.burger-menu span::after{
	top: 9px;
}
a.burger-menu.active span{
	background: transparent;
}
a.burger-menu.active span::before{
	transform: rotate(45deg) translate3d(5px,8px, 0);
}
a.burger-menu.active span::after{
	transform: rotate(-45deg) translate3d(5px,-8px, 0);
}


/* CONTENT */
main {
	padding: 54px 0 0 0;
	position: relative;
}

.banner {
	background-color: #31E981;
	color: #1D70A2;
	padding: 90px 0 60px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.banner .banner-inner {
	margin: 0 auto 30px auto;
	max-width: 860px;
	padding: 0 30px;
}

.banner h1 {
	display: inline-block;
	font-size: 3.5rem;
	font-weight: 900;
	margin: 0 auto 30px;
	padding: 0;
	position: relative;
	width: auto;
}

.banner h1 img {
	height: 86px;
	position: absolute;
	top: -25px;
	right: 10px;
	width: 100px;
}

.banner h2 {
	font-style: normal;
	font-weight: 900;
	letter-spacing: .1rem;
	margin: 0 auto 15px;
}

.banner p {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 1.25rem;
	margin: 0 auto;
	max-width: 560px;
}

.content {
	margin: 0 auto 0px auto;
	max-width: 860px;
	padding: 60px 30px;
}

.content ul li {
	margin: 0 0 .5rem;
}

.date {
	float: right;
	padding: 30px 0 0 0;
}


/* FOOTER */
footer {
	background-color: #1D70A2;
	color: #fff;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	padding: 30px 0;
  
}

footer div{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	margin: 0 auto;
	max-width: 860px;
	padding: 0 30px;
	text-align: left;
}

p.copyright{
	font-size: .8rem;
	margin: 30px auto 0 auto;
	opacity: .9;
	text-align: center;
}

footer a{
	color:#fff;
	text-decoration:underline;
}


/* Media Query */
@media only screen and (max-width: 992px), only screen and (max-device-width : 992px) {
  	a.burger-menu {
  		display:block;
  	}
  	header .navbar{
  		background: #1D70A2;
		border: 0;
		box-sizing: border-box;
		color: #fff;
		display: block;
		float: none;
		height: calc(100vh - 54px);
		margin: 0;
		overflow-x: hidden;
		padding: 0;
		position: fixed;
		right: -100%;
		top: 54px;

		animation-duration: 800ms; 
		-webkit-animation-duration: 800ms;

		transform: translateX(0);
		-webkit-transform: translateX(0);
		-webkit-transition: all 800ms cubic-bezier(.215,.61,.355,1);
		transition: all 800ms cubic-bezier(.215,.61,.355,1);
		
		max-width: 100%;
		width: 100%;
		z-index: 0;
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-webkit-transition: all 800ms cubic-bezier(.215,.61,.355,1);
		transition: all 800ms cubic-bezier(.215,.61,.355,1);
  	}
  	header .navbar.active{
  		-webkit-box-shadow: 0 0 8px 2px rgba(153,153,153,.1);
		box-shadow: 0 0 8px 2px rgba(153,153,153,.1);

		right: 0;
		-webkit-transition: all 600ms cubic-bezier(.215,.61,.355,1);
		transition: all 600ms cubic-bezier(.215,.61,.355,1);
		transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		z-index: 8;
  	}
  	header .navbar ul{
  		box-sizing: border-box;
  		display: block;
		margin: 0;
		padding: 30px 15px 0;
		text-align: center;
		transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
		width: 100%;
  	}
  	header .navbar ul li{
  		display: block;
		margin: 15px 0 0;
		padding: 0;
		position: relative;
		transition: none;
  	}
  	header .navbar ul li a{
  		background-color: transparent;
  		color: #fff;
  		display: inline-block;
		font-size: 1.25rem;
		font-weight: inherit;
		text-decoration: none;
  	}
  	header .navbar ul li a:hover{
  		background-color: transparent;
  		color: #fff;
  		text-decoration: underline;
  	}
}
/* BREAKPOINT TABLET & MOBILE*/
@media only screen and (max-width: 680px), only screen and (max-device-width : 680px) {
	.banner{
		padding: 60px 0 30px;
	}
	.banner h1{
		font-size: 2.5rem;
	}
	.content{
		padding: 30px;
	}
}
@media only screen and (max-width: 480px), only screen and (max-device-width : 480px){
	.banner{
		padding: 30px 0;
	}
	.banner h1{
		font-size: 2.25rem;
		margin: 0 auto 15px;
		padding: 0;
	}

	.banner h1 img{
		display: block;
		margin: 15px auto 0 auto;
		position: relative;
		top: inherit;
		right: inherit;
	}
	.banner h2{
		font-size: 1.5rem;
	}
	.banner p{
		font-size: 1.125rem;
	}
}